<launch>
    <!-- Launch file for ouster OS2-64 LiDAR -->
    
    <arg name="robot_name" default="r5000219a8"/>

    <arg name="rviz" default="false" />
    <remap from="/tf" to="/$(arg robot_name)/tf"/>
    <remap from="/tf_static" to="/$(arg robot_name)/tf_static"/>

    <rosparam ns="$(arg robot_name)" command="load" file="$(find fast_lio)/config/robosenseAiry.yaml" />

    <node ns="$(arg robot_name)" pkg="fast_lio" type="imu_transformer.py" name="imu_transformer_fast_lio" output="screen">
        <param name="target_frame" value="r5000219a8/front_imu_link"/>
        <rosparam param="rpy_deg">[90.0, 0.0, 90.0]</rosparam>
        <param name="accel_scale" value="9.80665"/>   
        <param name="gyro_scale" value="0.01745329"/>
        <remap from="imu_in"  to="base_front_mid_lidar_imu_data"/>
        <remap from="imu_out" to="front_mid_lidar_imu_transformed"/>
    </node>

    <node ns="$(arg robot_name)" pkg="fast_lio" type="fastlio_mapping" name="laserMapping" output="screen" /> 

    <group if="$(arg rviz)">
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find fast_lio)/rviz_cfg/loam_livox.rviz" />
    </group>

</launch>
